@using Microsoft.AspNetCore.Components.Authorization
@using FakeStoreWebApp.View
@using FakeStoreWebApp.Components
@using Microsoft.AspNetCore.WebUtilities

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (context.User.Identity?.IsAuthenticated != true)
                        {
                            // <InformacionUsuario />
                        }
                        else
                        {
                            <p class="alert alert-danger">No esta autorizado para ver esta pagina</p>
                        }
                    }
                </NotAuthorized>
                <Authorizing>
                    <Cargando/>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo siento, no hay nada en esta dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
